/* Isabela */
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700&display=swap");
* {
  font-family: 'Fira Sans', sans-serif;
}

body {
  min-height: 100vh;
  font-size: 16px;
}

.container {
  position: relative;
  padding: 0 1.5rem;
  max-width: unset;
}

@media screen and (min-width: 720px) {
  .container {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0;
    margin: 0 auto;
    max-width: 1140px;
  }
}

footer {
  bottom: 0;
}

#main {
  min-height: calc(100vh - 72px - 48px - 40px - 24px);
  /* ajustar depois de definir as barras */
  padding-top: 1.5rem;
  margin-bottom: 6rem;
}

#main .conteudo {
  position: relative;
}

a {
  color: #1765ab;
}

a:hover:after {
  content: "";
  height: 1px;
  width: auto;
  background-color: inherit;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

.btn {
  border-radius: 1px;
  background: none;
  border: none;
}

.btn-primary {
  background-color: #c75000;
  color: white;
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 1.3rem;
  font-weight: 500;
  height: 2.25rem;
  padding: 0 1.5rem;
  line-height: 1;
}

.btn-primary:hover, .btn-primary:active {
  background-color: #b24800 !important;
  border: none !important;
}

.btn-add {
  position: absolute;
  right: 0;
  top: .5rem;
  padding-top: .4rem;
  color: #c75000;
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0;
}

.btn-add:hover {
  color: #c75000;
}

.btn-add:hover:after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #c75000;
  position: absolute;
  bottom: 0;
  left: 0;
}

.btn-add i {
  font-size: 1rem;
}

.btn-edit {
  position: absolute;
  right: 0;
  top: .5rem;
}

.btn-edit i {
  font-size: 1rem;
}

.btn-edit a {
  padding-top: .4rem;
}

.breadcrumb {
  background: none;
  padding: 0;
  font-size: 0.8rem;
  margin: 3rem 0 1.5rem;
}

.breadcrumb a {
  color: #043166;
  font-weight: 500;
}

.breadcrumb i {
  color: #f06c00;
  font-weight: 700;
  font-size: 0.6rem;
  padding: .3rem .3rem 0;
}

.breadcrumb span:first-of-type {
  margin-right: .3rem;
  display: block;
  width: 100%;
}

@media screen and (min-width: 400px) {
  .breadcrumb span:first-of-type {
    display: inline-block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.breadcrumb span:last-of-type {
  color: #1765ab;
}

.bg-info {
  background-color: #1765ab !important;
}

.btn-info {
  background-color: #1765ab !important;
  border-color: #1765ab !important;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal !important;
}

h1 {
  margin: 3rem 0;
  color: #1765ab;
  font-weight: bold !important;
  font-size: 40px !important;
}

h2, h3, h4 {
  color: #1765ab;
}

.table td,
.table th {
  border-top: none;
  padding: 0.75rem 0;
  vertical-align: middle;
}

.table td a {
  font-weight: bold;
}

.table th {
  color: #c75000;
}

.navbar {
  padding: 0;
}

.navbar-topo {
  background-color: #043166;
  width: 100%;
  text-align: right;
}

.nav-column {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header #barra-ufes {
  height: 36px;
  background-color: #05427b;
}

header nav {
  background-color: white !important;
  height: 72px;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  color: #1765ab;
}

header nav .navbar-toggler i {
  color: #c75000;
}

header nav .navbar-collapse.show {
  background-color: white;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 65px;
  width: 100%;
  left: 0;
  z-index: 1;
}

header nav .navbar-brand {
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: 700;
  font-size: 1.5rem;
}

header nav .navbar-brand span {
  color: #c75000;
  text-transform: none;
  font-variant: normal;
  font-weight: 400;
  font-size: 12px;
  margin-top: -.4rem;
  display: none;
}

@media screen and (min-width: 576px) {
  header nav .navbar-brand span {
    display: block;
  }
}

header nav .nav-link {
  color: #c75000;
  font-weight: 500;
}

header nav .navbar-nav.logged {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header nav .navbar-nav.logged a {
  color: #1765ab;
  font-weight: 400;
  padding: 0;
}

header nav .navbar-nav.logged button {
  font-size: 14px;
  padding: 0;
  right: 0;
}

#filtros {
  padding-bottom: 3rem;
}

#filtros #aplicados {
  padding: 1rem 0;
  color: white;
}

#filtros #aplicados .excluir-filtro {
  background-color: #1765ab;
  line-height: 1.8;
  font-size: 0.8rem;
  padding-left: 8px;
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  border-radius: 2px;
}

#filtros #aplicados .excluir-filtro i {
  padding: 0 8px;
}

#filtros #seletores {
  border: solid 0.5px #cfeaff;
}

#filtros #seletores button#exibe-seletores {
  font-size: 1rem;
  border: none;
  background: none;
  text-align: left;
  padding: 8px 15px;
  position: relative;
  width: 100%;
}

#filtros #seletores button#exibe-seletores i {
  right: 15px;
  position: absolute;
  color: gray;
}

#filtros #seletores .seletor {
  font-weight: 300;
  vertical-align: top;
  display: block;
}

#filtros #seletores .seletor button.exibe-filtros {
  font-size: 1rem;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  padding: 8px 15px;
  position: relative;
}

#filtros #seletores .seletor button.exibe-filtros:after {
  content: '\f107';
  right: 15px;
  width: auto;
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  position: absolute;
  color: lightgray;
}

#filtros #seletores .seletor ul {
  padding: 10px 10px 3px;
  line-height: 1.8;
}

#filtros #seletores .seletor ul li label {
  padding: 0.2rem 0;
}

#filtros #seletores .seletor ul li label input {
  margin-right: 0.3rem;
}

#filtros #seletores .seletor ul li label:hover {
  color: #1765ab;
  text-decoration: underline;
  text-underline-position: under;
}

#filtros #seletores .seletor ul li label input[type='checkbox']:checked + span {
  color: #1765ab;
  font-weight: 400;
}

#filtros #seletores .seletor.show {
  background-color: #edf9ff;
}

#filtros #seletores .seletor.show button.exibe-filtros {
  color: #043166;
  font-weight: 400;
}

#filtros #seletores .seletor.show button.exibe-filtros:after {
  content: '\f106';
}

#filtros #seletores input[type='button']#limpar {
  font-size: 1rem;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  padding: 8px 15px;
  position: relative;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  color: #1765ab;
  border-top: solid 0.5px #cfeaff;
}

#filtros #seletores input[type='button']#limpar:hover {
  background-color: #1765ab;
  color: white;
}

@media screen and (min-width: 800px) {
  #filtros button#exibe-seletores {
    display: none;
  }
  #filtros #seletores {
    border: none;
  }
  #filtros #seletores #collapse1 {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: none;
  }
  #filtros #seletores .seletor {
    display: inline-block;
    border: solid 0.5px #1765ab;
    margin-right: 15px;
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  #filtros #seletores .seletor button.exibe-filtros:after {
    color: gray;
  }
  #filtros #seletores .seletor ul {
    position: absolute;
    background-color: #edf9ff;
    border: solid 1px #1765ab;
    margin-top: 0;
    border-radius: 1px;
    width: 100%;
    z-index: 1;
  }
  #filtros #seletores .seletor:nth-of-type(1) {
    width: 12%;
  }
  #filtros #seletores .seletor:nth-of-type(2) {
    width: 25%;
  }
  #filtros #seletores .seletor:nth-of-type(3) {
    width: 25%;
  }
  #filtros #seletores .seletor:nth-of-type(4) {
    width: 25%;
  }
  #filtros #seletores input[type='button']#limpar {
    border: 1px #1765ab solid;
    border-radius: 2px;
    width: 13%;
  }
}

#editais {
  width: 100%;
  font-weight: 300;
  border-bottom: 1px solid #cfeaff;
  margin-bottom: 3rem;
}

#editais .titulos {
  display: none;
}

#editais li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid #cfeaff;
  position: relative;
  margin-bottom: 1.2rem;
}

#editais li h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
}

#editais li h3 a {
  color: #c75000;
}

#editais li p {
  margin: 0.3rem 0 !important;
}

#editais li .atribuicao {
  font-weight: 400;
}

@media screen and (min-width: 800px) {
  #editais .titulos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #editais .titulos span {
    font-weight: 600;
    color: #05427b;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    display: inline-block;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  #editais .titulos span:nth-of-type(1) {
    width: 12%;
  }
  #editais .titulos span:nth-of-type(2) {
    width: 25%;
  }
  #editais .titulos span:nth-of-type(3) {
    width: 25%;
  }
  #editais .titulos span:nth-of-type(4) {
    width: 25%;
  }
  #editais .titulos span:nth-of-type(5) {
    width: 13%;
  }
  #editais li {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #editais li p,
  #editais li h3 {
    margin: 1rem 0 !important;
    position: relative !important;
    display: inline-block;
    font-size: 1rem;
    vertical-align: top;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  #editais li p {
    font-weight: 300;
    color: black;
    font-style: normal;
  }
  #editais li p:nth-of-type(1) {
    width: 25%;
  }
  #editais li p:nth-of-type(2) {
    width: 25%;
  }
  #editais li p:nth-of-type(3) {
    width: 25%;
  }
  #editais li p:nth-of-type(4) {
    width: 13%;
  }
  #editais li h3 {
    width: 12%;
    font-weight: 600;
  }
  #editais li h3 span {
    display: none;
  }
}

.form-container {
  max-width: 480px;
  margin: 0 auto;
  margin-bottom: 8rem;
}

form div.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.75rem;
  position: relative;
}

form div.form-group label, form div.form-group span.form-control-label {
  text-transform: lowercase;
  color: #043166;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.3;
  margin-bottom: .15rem;
  font-variant: small-caps;
}

form div.form-group label.form-check-label, form div.form-group span.form-control-label.form-check-label {
  color: black;
  text-transform: none;
  font-variant: normal;
  font-weight: 400;
  font-size: 1rem;
}

form div.form-group .form-check {
  padding-top: .8rem;
}

form div.form-group .invalid-feedback {
  color: #CB171D;
  position: absolute;
  width: 100%;
  margin-top: .1rem;
}

form div.form-group div {
  margin-top: -.3rem;
}

form div.form-group small {
  color: #6c757d !important;
}

form div.form-group input, form div.form-group textarea, form div.form-group select {
  border: 1px solid rgba(23, 101, 171, 0.3);
  border-radius: 1px;
  font-size: 1rem;
  font-weight: 300;
}

form div.form-group input.is-invalid, form div.form-group textarea.is-invalid, form div.form-group select.is-invalid {
  border: 1px solid #CB171D;
}

form div.form-group input:not([type="checkbox"]), form div.form-group select {
  height: 36px;
  margin-top: .1rem;
}

form div.form-group textarea {
  height: 72px;
}

form div.form-group input[type="file"] {
  padding-bottom: 34px !important;
  font-size: 14px !important;
}

form .form-spacing {
  padding-top: 2.2rem;
}

form input[type="submit"] {
  float: right;
  margin-top: 1.3rem;
}

@media screen and (min-width: 420px) {
  form .form-lateral {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  form .form-lateral > div {
    width: calc(50% - 1rem);
  }
}

.process-view #info, .register #info {
  margin-bottom: 2rem;
}

.process-view #info > div strong, .register #info > div strong {
  color: #c75000;
}

.process-view .quadro, .register .quadro {
  position: relative;
  border-top: 2px solid #cfeaff;
  margin-bottom: 3rem;
}

.process-view .quadro h4, .register .quadro h4 {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.process-view .quadro#anexos li div, .register .quadro#anexos li div {
  display: inline-block;
}

.process-view .quadro#anexos li div:first-of-type, .register .quadro#anexos li div:first-of-type {
  margin-right: 1rem;
}

.process-view .quadro#anexos li div a, .register .quadro#anexos li div a {
  color: black;
}

.process-view .quadro#anexos li div a i, .register .quadro#anexos li div a i {
  margin-right: .5rem;
  color: #f06c00;
}

.process-view .quadro#chamadas, .register .quadro#chamadas {
  width: 100%;
  margin-bottom: 3rem;
}

.process-view .quadro#chamadas .titulos, .register .quadro#chamadas .titulos {
  display: none;
}

.process-view .quadro#chamadas li, .register .quadro#chamadas li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: 1.2rem;
}

.process-view .quadro#chamadas li h3, .register .quadro#chamadas li h3 {
  font-size: 1.15rem;
  font-weight: 500;
  margin-top: 1rem;
  color: #c75000;
}

.process-view .quadro#chamadas li h3 a, .register .quadro#chamadas li h3 a {
  color: #c75000;
}

.process-view .quadro#chamadas li h3 a:hover, .register .quadro#chamadas li h3 a:hover {
  border-bottom: solid 1.5px #c75000;
  color: #c75000;
}

.process-view .quadro#chamadas li p, .register .quadro#chamadas li p {
  margin: 0.3rem 0 !important;
}

.process-view .quadro#chamadas li .text-right i, .register .quadro#chamadas li .text-right i {
  padding: 0 .3rem;
}

.process-view .quadro#chamadas li .text-right .icon-read, .register .quadro#chamadas li .text-right .icon-read {
  color: #c75000 !important;
}

.process-view .quadro#chamadas li .text-right .icon-read i, .register .quadro#chamadas li .text-right .icon-read i {
  color: #c75000;
}

@media screen and (min-width: 800px) {
  .process-view #info, .register #info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .process-view #info > div, .register #info > div {
    width: calc(50% - 1rem);
  }
  .process-view .quadro#chamadas .titulos, .register .quadro#chamadas .titulos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .process-view .quadro#chamadas .titulos span, .register .quadro#chamadas .titulos span {
    font-weight: 600;
    color: #05427b;
    font-size: 1.1rem;
    margin: .8rem 0;
    display: inline-block;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .process-view .quadro#chamadas .titulos span:nth-of-type(1), .register .quadro#chamadas .titulos span:nth-of-type(1) {
    width: 12%;
  }
  .process-view .quadro#chamadas .titulos span:nth-of-type(2), .register .quadro#chamadas .titulos span:nth-of-type(2) {
    width: 30%;
  }
  .process-view .quadro#chamadas .titulos span:nth-of-type(3), .register .quadro#chamadas .titulos span:nth-of-type(3) {
    width: 30%;
  }
  .process-view .quadro#chamadas .titulos span:nth-of-type(4), .register .quadro#chamadas .titulos span:nth-of-type(4) {
    width: 28%;
  }
  .process-view .quadro#chamadas li, .register .quadro#chamadas li {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .process-view .quadro#chamadas li p,
  .process-view .quadro#chamadas li h3, .register .quadro#chamadas li p,
  .register .quadro#chamadas li h3 {
    margin: 1rem 0 !important;
    position: relative !important;
    display: inline-block;
    font-size: 1rem;
    vertical-align: top;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .process-view .quadro#chamadas li p, .register .quadro#chamadas li p {
    font-weight: 300;
    color: black;
    font-style: normal;
  }
  .process-view .quadro#chamadas li p:nth-of-type(1), .register .quadro#chamadas li p:nth-of-type(1) {
    width: 30%;
  }
  .process-view .quadro#chamadas li p:nth-of-type(2), .register .quadro#chamadas li p:nth-of-type(2) {
    width: 30%;
  }
  .process-view .quadro#chamadas li p:nth-of-type(3), .register .quadro#chamadas li p:nth-of-type(3) {
    width: 28%;
  }
  .process-view .quadro#chamadas li h3, .register .quadro#chamadas li h3 {
    width: 12%;
    font-weight: 600;
  }
  .process-view .quadro#chamadas li h3 a:hover, .register .quadro#chamadas li h3 a:hover {
    border-bottom: solid 0.5px #1765ab;
    color: #1765ab;
  }
  .process-view .quadro#chamadas li h3 span, .register .quadro#chamadas li h3 span {
    display: none;
  }
}

footer {
  background-color: #043166;
  color: white;
  font-weight: 300;
  line-height: 1.8;
  padding-top: 3rem;
}

footer div {
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
}

footer div h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}

footer div h4:after {
  content: "";
  display: block;
  height: 2px;
  background-color: #f06c00;
  width: 100%;
  margin-top: 0.4rem;
  margin-bottom: 0.8rem;
}

footer div p {
  margin: 0;
}

footer div a {
  color: white;
}

footer div .enderecoLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0.25em;
  margin-bottom: 1.5rem;
}

footer div .enderecoLink > span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

footer div .enderecoLink > span:first-child {
  margin-bottom: 0.25em;
}

footer div .enderecoLink > span a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

footer div .enderecoLink > span img {
  margin-right: 0.5em;
  height: 1.5rem;
}

footer #copyright {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
  width: 100%;
  height: 3rem;
  background-color: #c75000;
  text-align: center;
  color: white;
  margin: 0;
}

footer #copyright p {
  margin: 0;
  display: inline-block;
  font-size: 0.8rem;
  line-height: 3rem;
  vertical-align: top;
  height: inherit;
}

footer #copyright p span {
  display: none;
}

footer #copyright p span a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 992px) {
  footer div {
    width: calc(50% - 0.7rem);
    vertical-align: top;
  }
  footer div:nth-child(even) {
    float: right;
  }
  footer #copyright p span {
    display: inline-block;
  }
}
/*# sourceMappingURL=style.css.map */