/* Isabela */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700&display=swap');

@import 'scss/variables';

* {
  font-family: 'Fira Sans', sans-serif;
}

body {
  min-height: 100vh;
  font-size: 16px;
}

.container{
  position: relative;
  padding: 0 1.5rem;
  max-width: unset;
  
  @media screen and (min-width: 720px){
    padding: 0 2rem;
  }

  @media screen and (min-width: 1200px){
    padding: 0;
    margin: 0 auto;
    max-width: 1140px;
  }

}

footer {
  bottom: 0;
}

#main {
  position: relative;
  min-height: calc(100vh - 72px - 48px - 40px - 24px - 92px - 6rem); /* ajustar depois de definir as barras */
  margin-bottom: 6rem;
}

a, .btn-link {
  color: $laranjaMedio;

  &:hover {
    color: $laranjaMedio;
    text-decoration: none;
    border-bottom-color: $laranjaMedio;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: -1px;
  }
}

ul {
  padding: 0;
  li {
    list-style: none;
  }
}

.btn {
  border-radius: 1px;
  background: none;
  border: none;
}

.btn-primary{
  background-color: $laranjaMedio;
  color: white;
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 1.3rem;
  font-weight: 500;
  height: 2.25rem;
  padding: 0 1.5rem;
  line-height: 1;

  &:hover, &:active{
    background-color: $laranjaEscuro !important;
    border: none !important;
    margin-bottom: 0;
  }

  i{ 
    font-size: 1rem;
    line-height: 2.2;
  }
}

.btn-secondary{
  background-color: white;
  color: $laranjaMedio;
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 1.3rem;
  font-weight: 500;
  height: 2.25rem;
  padding: 0 1.5rem !important;
  line-height: 1;
  border: 1px solid $laranjaMedio;
  border-radius: 2px;

  &:hover, &:active{
    background-color: $laranjaExtraClaro !important;
    color: $laranjaMedio;
    border: 1px solid $laranjaMedio;
  }
}

.btn-terciary{
  color: $laranjaMedio;
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0;

  i{ font-size: 1rem; }
}

.btn-right{
  display: inline-block;
  vertical-align: text-bottom;

  @media screen and (min-width: 800px) {
    position: absolute;
    right: 0;
    top: 2rem;
  }
}

.btn-icon{
  color: $azulRegular;

  &:hover{
    border: none;
    margin-bottom: 0;
    color: darken($azulRegular, 20);
  }

  i{ padding: 0 .3rem; }

  &.laranja{
    color: $laranjaMedio;

    &:hover{ color: darken($laranjaMedio, 10);  }
  }
}

.breadcrumb{
  background: none;
  padding: 0;
  font-size: 0.8rem;
  margin: 3rem 0 1.5rem;

  a{
    color: $azulMedio;
    font-weight: 500;

    &:hover{
      border-bottom-color: $azulMedio;
    }
  }

  i{
    color: $laranjaRegular;
    font-weight: 700;
    font-size: 0.6rem;
    padding: .3rem .3rem 0;
  }

  span:first-of-type{ 
    margin-right: .3rem;
    display: block;
    width: 100%;

    @media screen and (min-width: 400px){
      display: inline-block;
      width: fit-content;
    }
  }

  span:last-of-type{ color: $azulRegular; }
}

.bg-info {
  background-color: $azulRegular !important;
}

.btn-info {
  background-color: $azulRegular !important;
  border-color: $azulRegular !important;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal !important;
}

h1 {
  margin: 2rem 0;
  color: $azulRegular;
  font-weight: bold !important;
  font-size: 40px !important;
  display: inline-block;
  margin-right: 2rem;
}

h2, h3, h4{
  color: $azulRegular;
  display: inline-block;
  margin-right: 2rem;
}

.table td,
.table th {
  border-top: none;
  padding: 0.75rem 0;
  vertical-align: middle;
}

.table td a {
  font-weight: bold;
}

.table th {
  color: $laranjaMedio;
}

.navbar {
  padding: 0;
}

.navbar-topo {
  background-color: $azulEscuro;
  width: 100%;
  text-align: right;
}

.nav-column {
  flex-direction: row;
  align-items: flex-end;
}

@import 'scss/pagination';
@import 'scss/nav';
@import 'scss/filtros';
@import 'scss/forms';
@import 'scss/process';
@import 'scss/footer';
@import 'scss/table-list';
