header{

  #barra-ufes{
    
        background-color: $azulMedio;

     .container{
        height: 36px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: .25rem;
        padding-bottom: .25rem;

        img{ 
          width: 32px;
          margin-right: .5rem;
        }

        span{
          vertical-align: middle;
        }

        .links-externos{
          display: none;
          line-height: 1;
        }

        a{ 
          color: white;

          &:hover{
            border: none;

            span{ border-bottom: 1px solid $laranjaRegular; }
          }
        }

        @media screen and (min-width: 576px){

          .links-externos{
            display: flex;
            text-transform: lowercase;
            font-variant: small-caps;
            font-size: 1.25rem;
      
            li{ margin-left: 1rem; }
          }
        }
      }
    }

  nav{
    background-color: white !important;
    padding: 5px 1.5rem !important;
    box-shadow: 0px 3px 10px  rgba(black, .15);
    color: $azulRegular;

    .container{ padding: 0; }

    @media screen and (min-width: 720px){ 
      padding: 5px 2rem !important;
    }

    @media screen and (min-width: 576px){ height: 72px; }

    .navbar-toggler{
      i{ color: $laranjaMedio; }
    }
    
    .navbar-brand{
      text-transform: lowercase;
      font-variant: small-caps;
      font-weight: 700;
      font-size: 1.5rem;
      color: $azulRegular;

      span{
        color: $laranjaMedio;
        text-transform: none;
        font-variant: normal;
        font-weight: 400;
        font-size: 12px;
        margin-top: -.4rem;
        display: none;

        @media screen and (min-width: 576px){
          display: block;
        }
      }

      &:hover{ 
        border: none;
        margin-bottom: 0;
      }
    }

    .nav-item{
      line-height: 3;

      .nav-link{
        color: $laranjaMedio;
        font-weight: 500;
        display: inline-block;
        padding: 0 !important;
        // margin: .5rem 0 0;
        line-height: 1;
        margin-top: 1.5rem;

        &:hover{ margin-bottom: -1px; }
      }
    }

    .navbar-nav{
      padding: .5rem 0 1rem;

      .logged{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;

        .nav-item{
          line-height: 1;
          
          a{ 
            color: $azulRegular;
            font-weight: 400;
            margin-top: 1.2rem;

            &:hover{ 
              border: none;
              margin-bottom: 0;
              text-decoration: underline;
            }
          }

          button{
            font-size: 14px;
            padding: 0;
            right: 0;
            margin-top: 0;
          }
        }
      }

      

      @media screen and (min-width: 576px){
        padding: .3rem 0 .5rem;
        width: 100%;
        justify-content: space-between;

        .not-logged{
          width: 100%;
          flex-direction: row;
          display: flex;
          justify-content: flex-end;

          .nav-item{
            margin-left: 1rem;
          }
        }
      }
    }
    
  }
// }
}