header{

  #barra-ufes{
    height: 36px;
    background-color: $azulMedio;
  }

  nav{
    background-color: white !important;
    height: 72px;
    box-shadow: 0px 3px 10px  rgba(black, .15);
    color: $azulRegular;

    .navbar-toggler{
      i{ color: $laranjaMedio; }
    }
    
    .navbar-collapse.show{
      background-color: white;
      box-shadow: 0px 3px 10px  rgba(black, .15);
      position: absolute;
      top: 65px;
      width: 100%;
      left: 0;
      z-index: 1;
    }

    .navbar-brand{
      text-transform: lowercase;
      font-variant: small-caps;
      font-weight: 700;
      font-size: 1.5rem;

      span{
        color: $laranjaMedio;
        text-transform: none;
        font-variant: normal;
        font-weight: 400;
        font-size: 12px;
        margin-top: -.4rem;

        display: none;

        @media screen and (min-width: 576px){
          display: block;
        }
      }
    }

    .nav-link{
      color: $laranjaMedio;
      font-weight: 500;
    }

    .navbar-nav{

      &.logged{
        display: flex;
        flex-direction: column;
        align-items: flex-end;

          a{ 
            color: $azulRegular;
            font-weight: 400;
            padding: 0;
          }

          button{
            font-size: 14px;
            padding: 0;
            right: 0;
          }
    
      }
    }

    
  }
}