#editais {
  width: 100%;
  font-weight: 300;
  border-bottom: 1px solid $azulClaro;
  margin-bottom: 3rem;

  .titulos {
    display: none;
  }

  li {
    display: flex;
    flex-direction: column;
    border-top: 1px solid $azulClaro;
    position: relative;
    margin-bottom: 1.2rem;

    h3 {
      font-size: 1.2rem;
      font-weight: 600;
      margin-top: 1rem;

      a {
        color: $laranjaMedio;
      }
    }

    p {
      margin: 0.3rem 0 !important;
    }

    .atribuicao {
      font-weight: 400;
    }
  }

  @media screen and (min-width: 800px) {
    .titulos {
      display: flex;
      justify-content: space-between;

      span {
        font-weight: 600;
        color: $azulMedio;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        display: inline-block;
        flex: 1 1 auto;

        &:nth-of-type(1) {
          width: 12%;
        }
        &:nth-of-type(2) {
          width: 25%;
        }
        &:nth-of-type(3) {
          width: 25%;
        }
        &:nth-of-type(4) {
          width: 25%;
        }
        &:nth-of-type(5) {
          width: 13%;
        }
      }
    }

    li {
      flex-direction: row;
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;

      p,
      h3 {
        margin: 1rem 0 !important;
        position: relative !important;
        display: inline-block;
        font-size: 1rem;
        vertical-align: top;
        flex: 1 1 auto;
      }

      p {
        font-weight: 300;
        color: black;
        font-style: normal;

        &:nth-of-type(1) {
          width: 25%;
        }
        &:nth-of-type(2) {
          width: 25%;
        }
        &:nth-of-type(3) {
          width: 25%;
        }
        &:nth-of-type(4) {
          width: 13%;
        }
      }

      h3 {
        width: 12%;
        font-weight: 600;

        span {
          display: none;
        }
      }
    }
  }
}
