// Cores
$azulExtraClaro: #edf9ff;
$azulClaro: #cfeaff;
$azulRegular: #1765ab;
$azulMedio: #05427b;
$azulEscuro: #043166;

$laranjaExtraClaro: #ffdcc5;
$laranjaClaro: #ffa161;
$laranjaRegular: #f06c00;
$laranjaMedio: #c75000;
$laranjaEscuro: #b24800;
